.body {
  display: flex;
  font-family: sans-serif;
}
.main-title {
  text-align: center;
}
.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  position: relative;
  display: block;
  margin: 0 auto;
}
.button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 0.75px;
  font-size: 14px;
  color: #ffffff;
  background-color: seagreen;
  cursor: pointer;
  margin-top: 5px;
}

.card {
  border: 1px solid #ffffff;
  margin: 2rem;
  padding: 10px;
  box-shadow: 5px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  width: 20rem;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.2, 1.2);
}
